<!DOCTYPE html>
<html lang="en">
<head>

    {% if ya_metrika is not empty %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym({{ ya_metrika }}, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57068848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <link rel="icon" href="{{ asset('build/images/favicon.svg') }}" sizes="any" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16.png') }}">

    <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('build/images/favicon-48.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/images/favicon-192.png') }}">

    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ asset('build/images/favicon-167.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ asset('build/images/favicon-180.png') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('common') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('common') }}

    {% endblock %}
</head>
<body>
<header class="header">
    <div class="header__menu header__menu--mobile">
        <img class="header__menu-mobile-icon" id="mobile-menu-show" src="{{ asset('build/images/menu-bar-icon.svg') }}" alt="menu">
        <nav class="header__menu-popup header__menu-popup--hidden">
            <div class="header__menu-popup-close" id="mobile-menu-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"></path>
                    </g>
                </svg>
            </div>
            {% for item in menu %}
                <a class="header__menu-item header__menu-item--mobile" href="{{ path(item.path) }}">{{ item.title }}</a>
            {% endfor %}
            <div class="header__contacts header__contacts--mobile">
                <a href="mailto:nisoartem@gmail.com" class="header__contact"><img src="{{ asset('build/images/email.svg') }}" alt="telegram"/></a>
                <a href="https://t.me/Avburykin" class="header__contact"><img src="{{ asset('build/images/tg.svg') }}" alt="telegram"/></a>
            </div>
        </nav>
    </div>

    <div class="header__menu-wrapper">
        <nav class="header__menu">
            {% for item in menu %}
                <a class="header__menu-item" href="{{ path(item.path) }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
        <div class="header__contacts">
            <a href="mailto:nisoartem@gmail.com" class="header__contact"><img src="{{ asset('build/images/email.svg') }}" alt="telegram"/></a>
            <a href="https://t.me/Avburykin" class="header__contact"><img src="{{ asset('build/images/tg.svg') }}" alt="telegram"/></a>
            <div class="btn btn--small contact-trigger" data-trigger-popup-id="contact-form-popup">Contact me</div>
        </div>
    </div>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <p class="footer__text">© Artem Burykin, {{ 'now' | date('Y') }} </p>
</footer>
{% embed 'common/parts/popup.html.twig' with {id: 'contact-form-popup', modifier: 'narrow'} only %}
    {% block popup_title %}Contact me.{% endblock %}
    {% block popup_content %}
        {% include('common/parts/contact-form.html.twig') with
            {'modifierClass': 'contact-form__container--fluid', 'formId': 'contact-popup'} only %}
    {% endblock %}
{% endembed %}
{% if ya_metrika is not empty %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            window.analitycsConvs({{ ya_metrika }});
        });
    </script>
{% endif %}

</body>
</html>
