<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <link rel="icon" href="{{ asset('build/images/favicon.svg') }}" sizes="any" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16.png') }}">

    <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('build/images/favicon-48.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/images/favicon-192.png') }}">

    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ asset('build/images/favicon-167.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ asset('build/images/favicon-180.png') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('common') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('common') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="header__menu header__menu--mobile">
        <img class="header__menu-mobile-icon" id="mobile-menu-show" src="{{ asset('build/images/menu-bar-icon.svg') }}" alt="menu">
        <nav class="header__menu-popup header__menu-popup--hidden">
            <div class="header__menu-popup-close" id="mobile-menu-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"></path>
                    </g>
                </svg>
            </div>
            {% for item in menu %}
                <a class="header__menu-item header__menu-item--mobile" href="{{ path(item.path) }}">{{ item.title }}</a>
            {% endfor %}
            <div class="header__theme-toggle theme-toggle__container header__theme-toggle--mobile">
                <img class="theme-toggle__icon" alt="light" src="{{ asset('build/images/sun.svg') }}">
                <div class="theme-toggle" id="theme-toggle">
                    <div id="theme-toggle-marker"
                         class="theme-toggle__marker"
                    ></div>
                </div>
                <img class="theme-toggle__icon" alt="dark" src="{{ asset('build/images/moon.svg') }}">
            </div>
        </nav>
    </div>

    <div class="header__menu-wrapper">
        <nav class="header__menu">
            {% for item in menu %}
                <a class="header__menu-item" href="{{ path(item.path) }}">{{ item.title }}</a>
            {% endfor %}
        </nav>

        <div class="header__theme-toggle theme-toggle__container">
            <img class="theme-toggle__icon" alt="light" src="{{ asset('build/images/sun.svg') }}">
            <div class="theme-toggle" id="theme-toggle">
                <div id="theme-toggle-marker"
                     class="theme-toggle__marker"
                ></div>
            </div>
            <img class="theme-toggle__icon" alt="dark" src="{{ asset('build/images/moon.svg') }}">
        </div>
    </div>
</header>
<div class="container">
    {% block content %}{% endblock %}
    {% include 'common/parts/side-nav.html.twig' %}
</div>
<footer class="footer">
    <p class="footer__text">© ITech Guild, {{ 'now' | date('Y') }} </p>
</footer>
</body>
</html>
