{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'AВЕ Системз | разработка приложений и веб-порталов',
        'description': 'Создадим веб-портал или приложение для вас. Просто и гибко!',
        'ogTitle': 'AВЕ Системз | разработка приложений и веб-порталов',
        'ogDescription': 'Создадим веб-портал или приложение для вас. Просто и гибко!',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index-page') }}
{% endblock %}

{% block content %}
    <section class="offer">
        <h2 class="offer__desc">
            Хотите увеличить продажи или повысить узнаваемость бренда в интернете?
        </h2>
        <h1 class="offer__main">Мы создаем сайты и приложения, которые решают задачи  вашего бизнеса!</h1>

        <div class="offer__list">
           <div class="offer__list-item">
              <div class="offer__list-marker"></div>
               <div class="offer__list-text">Учитываем уникальные потребности вашей компании.</div>
           </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Вникаем и подбираем эффективные решения.</div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Хорошее соотношение цены и качества. <a href="#prices">Подробнее.</a></div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Бесплатная консультация!</div>
            </div>
        </div>

        <div class="btn offer__cta" id="offer-cta" data-trigger-popup-id="contact-form-popup">Обсудить проект</div>
    </section>

    <section class="solution main-block">
        <h2 class="content__header content__header--h2">С чем можем помочь</h2>
        <div class="solution-item">
            <img class="solution-item__img"
                 alt="Разработка сайтов (интернет-магазинов)"
                 src="{{ asset('build/images/online-shop.webp') }}"/>
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Продавать товары или продукты онлайн.
                </h3>
                <p class="solution-item__text">
                    Создадим интернет-магазин с возможностью аналитики, который станет надежной платформой для роста продаж.
                </p>
            </div>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Заявить о своей компании.
                </h3>
                <p class="solution-item__text">
                    Сделаем корпоративный сайт для создания имиджа бренда и&nbsp;привлечения клиентов.
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка корпортивного сайта на заказ"
                 src="{{ asset('build/images/corporate.webp') }}"/>
        </div>

        <div class="solution-item">
            <img class="solution-item__img"
                 alt="Разработка мобильных приложений"
                 src="{{ asset('build/images/mobile.webp') }}"/>
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Повысить лояльность текущих клиентов.
                </h3>
                <p class="solution-item__text">
                    Разработаем мобильные приложения для быстрого и&nbsp;комфортного общения покупателей с брендом.
                </p>
            </div>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Увеличить продажи продукта или услуги.
                </h3>
                <p class="solution-item__text">
                    Создадим посадочную страницу для вовлечения клиентов в&nbsp;акции и другие механики.
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка лендингов"
                 src="{{ asset('build/images/lp.webp') }}"/>
        </div>
    </section>

    <section class="clients-block main-block">
        <h3 id="about-company" class="content__header content__header--h2">Наши клиенты:</h3>
        <div class="clients">
                <img src="{{ asset('build/images/bina_logo.png') }}" alt="bina group" class="clients__item" />
                <img src="{{ asset('build/images/mcrkpo.png') }}" alt="mcrkpo" class="clients__item" />
                <img src="{{ asset('build/images/mastera.svg') }}" alt="mastera" class="clients__item" />
                <img src="{{ asset('build/images/rostovcompozit.png') }}" alt="rostovcompozit" class="clients__item" />
                <img src="{{ asset('build/images/kfts.png') }}" alt="kfts" class="clients__item" />
                <img src="{{ asset('build/images/asklepius.png') }}" alt="asklepius" class="clients__item" />
            <img src="{{ asset('build/images/birc.png') }}" alt="birc" class="clients__item" />
        </div>
    </section>
    <section class="reviews-block main-block">
        <h3 id="reviews" class="content__header content__header--h2">Отзывы</h3>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l1.jpg') }}"
            >Кинологический центр ФТС РФ</p>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l2.jpg') }}"
            >МЦРКПО</p>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l3.jpg') }}"
            >Асклепиус</p>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l4.jpg') }}"
            >Пекител</p>
        <p class="content__big-text preview-trigger content__big-text--link"
           data-trigger-popup-id="image-popup"
           data-image="{{ asset('build/images/l5.jpg') }}"
        >Программы и комплексы</p>
        <p class="content__big-text preview-trigger content__big-text--link"
           data-trigger-popup-id="image-popup"
           data-image="{{ asset('build/images/l6.jpg') }}"
        >Бина групп</p>
    </section>

    <section class="main-block about-us">
        <h2 id="about-company" class="content__header content__header--h2">Кто мы</h2>
        <p class="content__big-text">
            12 лет разрабатываем программное обеспечение для образования (EdTech) и других направлений.
            Создаем уникальные сайты и приложения для каждого заказчика без готовых компонентов.
        </p>
        <h3 class="content__header content__header--h3">
            Заказчик получает:
        </h3>
        <div class="about-us__feature-list feature-list">
            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/compass.svg') }}" alt="Вдумчивость"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Программное обеспечение, эффективно решающее поставленную задачу.</span><br/>
                    Погружаемся в суть проблемы и подбираем оптимальное решение.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/performance.svg') }}" alt="Масштабируемость"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Возможность масштабирования под долгосрочные цели бизнеса.</span><br/>
                    Решение останется актуальным и будет полезным в долгосрочной перспективе.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/shield.svg') }}" alt="Безопасность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Безопасность и защита данных.</span><br/>
                    Предоставим инструменты для контроля доступа и управления конфиденциальностью.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/quality.svg') }}" alt="Надежность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Стабильность и надежность.</span><br/>
                    Контроль качества. Проверка кода, многоступенчатое тестирование продукта.
                </div>
            </div>


            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/user.svg') }}" alt="Индивидуальность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Уникальное решение, преимущество перед конкурентами.</span><br/>
                    Разработка под запрос. Не фиксированный шаблон, а только тот функционал, который нужен заказчику.
                </div>
            </div>
        </div>
    </section>

    <section class="prices-block main-block" id="prices">
        <h3 class="content__header content__header--h2">Наши цены</h3>
        <div class="prices">
            <div class="prices__item">
                <h4 class="prices__item-title">Базовый копоративный сайт.</h4>
                <div class="prices__item-desc">
                    <p>Сайт компании или бренда для успешного позиционирования в интернете.</p>

                    <p>Что делаем мы:</p>
                    <ul>
                        <li>
                            Создаем полностью авторский дизайн.
                        </li>
                        <li>
                            Разрабатываем главную страницу сайта, а также страницы контактов, услуг и новостей.
                        </li>
                        <li>
                            Разрабатываем второстепенные страницы сайта (от 2 страниц)
                        </li>
                        <li>
                            Адаптируем сайт под мобильные устройства.
                        </li>
                        <li>
                            Оптимизируем скорость загрузки страниц сайта.
                        </li>
                    </ul>
                    <p class="prices__item-accent">
                        Объём работ: от 100 часов разработки.
                    </p>
                </div>
                <div class="prices__item-price">от 305 230&nbsp;р.</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Интернет-магазин.</h4>
                <div class="prices__item-desc">
                    <p>
                        Сайт-платформа по продаже товаров и услуг в интернете.
                    </p>
                    <p>
                        Что делаем мы:
                    </p>

                    <ul>
                        <li>
                            Сделаем эффективную платформы для продаж услуг или товаров.
                        </li>
                        <li>
                            Разработаем авторский дизайн.
                        </li>
                        <li>
                            Сделаем главную страницу магазина и каталог товаров.
                        </li>
                        <li>
                            Настроем корзину и функциональный личный кабинет пользователя.
                        </li>
                        <li>
                            Подключим онлайн-оплату товаров.
                        </li>
                        <li>
                            Настроем отслеживание эффективности рекламных кампаний.
                        </li>
                    </ul>
                    <p class="prices__item-accent">
                        Объём работ: от 200 часов разработки.
                    </p>
                </div>
                <div class="prices__item-price">от 540 000&nbsp;р.</div>
            </div>
            <div class="prices__item">
                <h3 class="prices__item-title">Веб-портал.</h3>
                <div class="prices__item-desc">
                    <p>
                        Данная услуга подразумевает создание сайта с большим объёмом разнообразных данных.
                    </p>
                    <p>
                        Что делаем мы:
                    </p>
                    <ul>
                       <li>
                           Разработаем авторского дизайна.
                       </li>
                        <li>
                            Создадим до 10 разноплановых разделов, включая:
                        </li>
                        <li>
                            Каталоги с продвинутым поиском.
                        </li>
                        <li>
                            Визуально представленные данные.
                        </li>
                        <li>
                            Коммерческие разделы для продажи товаров или услуг.
                        </li>
                        <li>
                            Разработаем личный кабинет с комплексной логикой.
                        </li>
                    </ul>
                    <p class="prices__item-accent">
                        Объём работ: от 300 часов разработки.
                    </p>
                </div>
                <div class="prices__item-price">от 775 500&nbsp;р.</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Мобильное приложение.</h4>
                <div class="prices__item-desc">
                    <p>
                        Мобильное приложение для iOS и/или Android, предоставляющее сервис или автоматизирующее процесс.
                    </p>
                    <p>
                        Что делаем мы:
                    </p>
                    <ul>
                       <li>
                           Разработаем дизайн интерфейсов в соответствии с брендбуком клиента.
                       </li>
                        <li>
                            Создадим от 5 до 10 экранов приложения в зависимости от их сложности.
                        </li>
                    </ul>
                    <p class="prices__item-accent">
                        Объём работ: от 150 часов разработки.
                    </p>
                </div>
                <div class="prices__item-price">от 423 000&nbsp;р.</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Единая точка входа.</h4>
                <div class="prices__item-desc">
                    <p>
                        Модуль позволяет использовать единый логин и пароль для доступа ко всем сервисам компании.
                        Упрощает процесс авторизации и повышает удобство использования корпоративных систем.
                    </p>
                    <p>
                        Что делаем мы:
                    </p>
                    <ul>
                       <li>
                           Разрабатываем или дорабатываем программные модули для объединяемых информационных систем.
                       </li>
                        <li>
                            Создаем хранилище данных пользователей, как отдельный компонент системы.
                        </li>
                    </ul>
                    <p class="prices__item-accent">Объём работ: от 200 часов разработки</p>

                    </div>
                <div class="prices__item-price">от 540 000&nbsp;р.</div>
            </div>
            <div class="prices__item">
                <h3 class="prices__item-title">Хранилище файлов.</h3>
                <div class="prices__item-desc">
                    <p>
                        Хранилище файлов на портале с возможностью полного управления ими (удаления, добавления, изменения) средствами портала.
                    </p>
                    <p>
                        Что делаем мы:
                    </p>
                    <ul>
                        <li>
                            Устанавливаем и настраиваем модуль управления файлам на портал.
                        </li>
                        <li>
                            Дорабатываем логику под задачи бизнеса и с учетом его специфики.
                        </li>
                        <li>
                            Организуем защиту данных и файлов.
                        </li>
                    </ul>
                    <p class="prices__item-accent">
                        Объём работ: от 200 часов разработки.
                    </p>
                </div>
                <div class="prices__item-price">от 775 500&nbsp;р.</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Разработка систем.</h4>
                <div class="prices__item-desc">
                    <p>
                        Разработка авторских информационных систем для бизнеса.
                    </p>

                    <p>
                        В рамках работ мы:
                    </p>
                    <ul>
                        <li>
                            Формируем техническое задание на разработку.
                        </li>
                        <li>
                            Создаем инфраструктуру для решения бизнес-задач.
                        </li>
                        <li>
                            Разрабатываем программные модули на заказ с нуля.
                        </li>
                    </ul>
                    <p class="prices__item-accent">
                        Объём работ: от 300 часов разработки.
                    </p>

                </div>
                <div class="prices__item-price">от 775 500&nbsp;р.</div>
            </div>
        </div>
    </section>

    <section class="main-block how-to-work">
        <h3 class="content__header content__header--h2">Обсудить проект!</h3>

        <div class="how-to-work__process">
            <div class="how-to-work__step">
                <p class="how-to-work__dig">1</p>
                <p class="how-to-work__text">Заполните форму.</p>
            </div>

            <div class="how-to-work__step how-to-work__step--large">
                <p class=" how-to-work__dig">2</p>
                <p class="how-to-work__text">
                    Мы свяжемся с вами, ответим на вопросы и обсудим детали.
                </p>
            </div>

            <div class="how-to-work__step">
                <p class="how-to-work__dig">3</p>
                <p class="how-to-work__text">
                    Отправим расчет проекта со всеми пояснениями.
                </p>
            </div>
        </div>

        {% include('common/parts/contact-form.html.twig') with {'formId': 'contact-form'} %}
    </section>
    {% embed 'common/parts/popup.html.twig' with {id: 'image-popup', modifier: 'wide'} only %}
        {% block popup_title %}{% endblock %}
        {% block popup_content %}
            <div id="image-preview" class="image-preview"></div>
        {% endblock %}
    {% endembed %}
{% endblock %}
