{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Artem Burykin | full-stack developer',
        'description': 'As a full-stack developer, I create web and mobile applications for businesses of all sizes.',
        'ogTitle': 'Artem Burykin | full-stack developer',
        'ogDescription': 'As a full-stack developer, I create web and mobile applications for businesses of all sizes.',
        'ogImage': host ~ asset('build/images/og.png')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index-page') }}
{% endblock %}

{% block content %}
    <section class="offer">
        <h1 class="offer__main">Hello, I'm Artem Burykin. <br/>A full-stack developer.</h1>
        <h2 class="offer__desc">I create web and mobile applications for businesses of all sizes, from small startups to large enterprises.</h2>
        <div class="btn offer__cta" id="offer-cta" data-trigger-popup-id="contact-form-popup">Contact me</div>
    </section>

    <section class="main-block my-cv content">
        <h2 class="content__header content__header--h2">My CV.</h2>
        <section>
            <h3 class="content__header content__header--h3">About me</h3>
            <p class="content__simple-text">I am a software engineer, enthusiast, and an IT craftsman with more than {{ dates.startCareer | years_since }} years of experience.</p>
            <p class="content__simple-text">Most of the time, I work on web-based business projects. My focus is always on creating flexible, scalable architectures for projects and aligning the development process with the needs of the business. I usually try to write code in the most efficient way possible to achieve the business goals.</p>
        </section>

        <section>
            <h3 class="content__header content__header--h3">Education</h3>
            <p class="content__simple-text">Bauman Moscow State Technical University (2007-2013).</p>
        </section>

        <section>
            <h3 class="content__header content__header--h3">My tech stack</h3>
            <ul class="content__ul">
                <li class="content__li"><b>JavaScript (TypeScript)</b> for both the frontend and the backend.
                    <ul class="content__ul">
                        <li class="content__li">Angular (used extensively more than {{ dates.angular | years_since }} years)</li>
                        <li class="content__li">React with more than {{ dates.react | years_since }} years of experience</li>
                        <li class="content__li">Express.js ({{ dates.express | years_since }} years of experience)</li>
                    </ul>
                </li>

                <li class="content__li"><b>PHP</b>
                    <ul class="content__ul">
                        <li class="content__li">Symfony (my primary framework, {{ dates.symfony | years_since }} years of experience)</li>
                        <li class="content__li">WordPress ({{ dates.wordpress | years_since }} years of experience)</li>
                    </ul>
                </li>

                <li class="content__li"><b>Clojure</b> ({{ dates.clojure | years_since }} years of experience). Mainly small applications, microservices, workers.</li>
                <li class="content__li"><b>Flutter</b> ({{ dates.flutter | years_since }} years of experience)</li>
            </ul>
        </section>

        <section>
            <h3 class="content__header content__header--h3">My work experience</h3>
            <h4 class="content__header content__header--h4">2009-2011: Freelance</h4>
            <ul class="content__ul">
                <li class="content__li">Developed websites using Joomla and WordPress.</li>
                <li class="content__li">Built custom software solutions (e.g., mailing, time planning) with C++ (Qt).</li>
            </ul>

            <h4 class="content__header content__header--h4">2011-2012: Web Designer & System Administrator (Tourism Agency)</h4>
            <ul class="content__ul">
                <li class="content__li">Automated client management with a custom information system (C++/Qt).</li>
                <li class="content__li">Designed and developed the agency’s website using Joomla.</li>
            </ul>

            <h4 class="content__header content__header--h4">2012-2017: Co-Founder & Full-Stack Developer (AVE Systems)</h4>
            <ul class="content__ul">
                <li class="content__li">Delivered diverse projects across multiple tech stacks to address business needs.</li>
                <li class="content__li">Played a key role in solving complex business tasks.</li>
            </ul>

            <h4 class="content__header content__header--h4">2017-Present: CTO (AVE Systems)</h4>
            <ul class="content__ul">
                <li class="content__li">Organized business processes and led project development.</li>
                <li class="content__li">Implemented TDD, code reviews, CI/CD pipelines, and SCRUM methodology company-wide.</li>
            </ul>
        </section>

        <section>
            <h3 class="content__header content__header--h3">Facts about my expertise</h3>
            <ul class="content__ul">
                <li class="content__li">To create a seamless user experience, I developed an authentication server and implemented Single Sign-On (SSO) across multiple systems.</li>
                <li class="content__li">I planned and led the decomposition of a system into microservices to enhance its scalability and agility.</li>
                <li class="content__li">I implemented an integration platform to connect multiple systems, significantly reducing the company's budget expenditures.</li>
                <li class="content__li">I write code with TDD (Test driven development, although I have my own approach here), embrace DDD (Domain Driven Design), and aim for simplicity and minimalism in my work.</li>
                <li class="content__li">In order to develop efficient solutions, I look at the problems from multiple perspectives. </li>
                <li class="content__li">I am committed to continuous professional growth, constantly exploring new approaches and methodologies to improve my skills as a developer.</li>
            </ul>
        </section>

        <section>
            <h4 class="content__header content__header--h3">Non-work related facts</h4>
            <p class="content__simple-text">Like every human being, I also have hobbies :) I enjoy dancing Argentine tango, learning foreign languages, and contemplating the beauty of nature.</p>
        </section>
    </section>

    <section class="main-block contact-me">

        <h2 class="content-header content__header--h2">Contact me</h2>
        {% include('common/parts/contact-form.html.twig') with {'formId': 'contact-form'} %}
    </section>
{% endblock %}
