{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'AВЕ Системз | разработка веб-порталов и приложений для вас',
        'description': 'Создадим веб-портал или приложение для вас. Просто и гибко! Стоимость часа от 1800 руб.',
        'ogTitle': 'AВЕ Системз | разработка веб-порталов и приложений для вас',
        'ogDescription': 'Создадим веб-портал или приложение для вас. Просто и гибко! Стоимость часа от 1800 руб.',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index-page') }}
{% endblock %}

{% block content %}
    <section class="offer">
        <h2 class="offer__desc">
            Хотите увеличить продажи или повысить узнаваемость бренда в интернете?
        </h2>
        <h1 class="offer__main">Мы создаем сайты и приложения, которые решают задачи  вашего бизнеса!</h1>

        <div class="offer__list">
           <div class="offer__list-item">
              <div class="offer__list-marker"></div>
               <div class="offer__list-text">Учитываем уникальные потребности вашей компании.</div>
           </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Вникаем и подбираем эффективные решения.</div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Стоимость от {n} руб. за индивидуальный проект.</div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Бесплатная консультация!</div>
            </div>
        </div>

        <div class="btn offer__cta" id="offer-cta">Обсудить проект</div>
    </section>

    <section class="solution content">
        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Хотите продавать товары или продукты онлайн?
                </h3>
                <p class="solution-item__text">
                    Создадим интернет-магазин, который будет работать,
                    а также встроим прозрачный механизм аналитики, который станет надежной платформой для роста продаж!
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка сайтов (интернет-магазинов)"
                 src="{{ asset('build/images/online-shop.webp') }}"/>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Хотите, чтобы больше людей узнало о вашей компании?
                </h3>
                <p class="solution-item__text">
                    Готовы создать корпоративный сайт, который представит вашу компанию или бренд широкой аудитории,
                    создаст имидж и принесет новых клиентов для бизнеса.
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка корпортивного сайта на заказ"
                 src="{{ asset('build/images/corporate.webp') }}"/>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Хотите увеличить вовлеченность текущих клиентов ?
                </h3>
                <p class="solution-item__text">
                    Разработаем мобильное приложение, которое позволит клиентам более комфортно взаимодействовать с вами,
                    а также получать дополнительную информацию о новых предложениях.
                    Наличие удобного способа коммуникации с вами - залог роста продаж!
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка корпортивного сайта на заказ"
                 src="{{ asset('build/images/corporate.webp') }}"/>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Хотите увеличить продажи продукта или услуги?
                </h3>
                <p class="solution-item__text">
                    Создадим посадочную страницу, которая будет учитывать
                    все преимущества вашего бизнеса и заключит их в единый эффективны маркетинговый инструмент.
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка корпортивного сайта на заказ"
                 src="{{ asset('build/images/corporate.webp') }}"/>
        </div>
    </section>

    <section class="content about-us">
        <h2 id="about-company" class="content__header content__header--h2">Немного о нас</h2>
        <p class="content__simple-text">
            Наша компания — команда профессионалов с более чем 10-летним
            опытом в разработке веб-порталов и приложений.
        </p>
        <p class="content__simple-text">
            Мы глубоко погружаемся в предметную область заказчика и используем гибкий подход к разработке,
            чтобы максимизировать отдачу от проекта.
        </p>
        <p class="content__simple-text">
            Ориентируясь на соотношение цена — бизнес-выгода, мы создаем решения,
            которые позволяют построить эффективную платформу для роста бизнеса нашего клиента.
        </p>
        <h3 class="content__header content__header--h3">
            Что получают наши заказчики:
        </h3>
        <div class="about-us__feature-list feature-list">
            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/shield.svg') }}" alt="Надежность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Высокое качество программного продукта:</span>
                    Наш контроль качества кода включает ревью кода специалистами,
                    автоматические тесты и многоступенчатое тестирование продукта, что гарантирует высокое качество и надежность.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/compass.svg') }}" alt="Вдумчивость"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Вдумчивый подход к задачам:</span>
                    Мы стремимся к глубокому пониманию потребностей каждого клиента,
                    что позволяет нам предложить наиболее эффективные и продуманные решения.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/user.svg') }}" alt="Индивидуальность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Индивидуальный подход:</span>
                    Мы ценим уникальность каждого проекта и работаем в тесном сотрудничестве
                    с заказчиками для создания наиболее подходящих решений, максимально удовлетворяющих их специфические потребности.
                </div>
            </div>
        </div>
        <p class="content__simple-text">
            <span class="content__simple-text--stressed">С 2012 года</span> мы успешно разрабатываем программное
            обеспечение для клиентов из самых разных сфер деятельности.
        </p>
    </section>
    <section class="content clients-block">
        <h3 id="about-company" class="content__header content__header--h2">Некоторые наши клиенты:</h3>
        <div class="clients">
            <div class="clients__arrow clients__arrow--left"></div>
            <div class="clients__wrapper">
                <img src="{{ asset('build/images/bina_logo.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/mcrkpo.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/mastera.svg') }}" class="clients__item" />
                <img src="{{ asset('build/images/birc.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/rostovcompozit.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/kfts.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/asklepius.png') }}" class="clients__item" />
            </div>
            <div class="clients__arrow clients__arrow--right"></div>
        </div>
    </section>
    <section class="content prices-block">
        <h3 class="content__header content__header--h2">Наша ценовая политика</h3>
        <p class="content__simple-text">
            Здесь мы приводим примерные цены на типичные услуги компании.
            Однако, перечень наших услуг не ограничивается перечисленным.
        </p>
        <div class="prices">
            <div class="prices__item">
                <h4 class="prices__item-title">Базовый копоративный сайт</h4>
                <div class="prices__item-desc">Сайт компании или бренда, представляющий всю необходимую информацию для
                    успешного позиционирования компании в интернете.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Интернет-магазин</h4>
                <div class="prices__item-desc">Сайт по продаже товаров и услуг в интернете.
                    Обычно состоит из каталога товаров, где пользователь может выбирать товары, а также корзины с возможностью оплаты.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h3 class="prices__item-title">Информационный портал</h3>
                <div class="prices__item-desc">
                    Создание сайта с наличием информации различного рода в большом количестве.
                    Обычно обладает продвинутым механизмом поиска информации.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Мобильное приложение</h4>
                <div class="prices__item-desc">Приложение под iOS и/или Android, предоставляющее какой-либо сервис или автоматизирующее процесс.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Единая точка входа</h4>
                <div class="prices__item-desc">Один логин и пароль для доступа ко всем системам и сервисам компании.
                    Упрощает процесс авторизации и повышает удобство использования портала.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h3 class="prices__item-title">Хранилище файлов</h3>
                <div class="prices__item-desc">Организация хранилища файлов на портале с возможностью полного управления ими
                    (удаления, добавления, изменения) средствами портала.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
        </div>
    </section>

    <section class="content how-to-work">
        <h3 class="content__header content__header--h2">Хотите узнать подробнее?</h3>

        <div class="how-to-work__process">
            <div class="how-to-work__step">
                <p class="how-to-work__dig">1</p>
                <p class="how-to-work__text">Запросите расчёт</p>
            </div>

            <div class="how-to-work__step how-to-work__step--large">
                <p class=" how-to-work__dig">2</p>
                <p class="how-to-work__text">
                    Мы свяжемся с Вами, уточним подробности задач, который должен будет решать сайт или приложение, а также ответим на все ваши вопросы.
                </p>
            </div>

            <div class="how-to-work__step">
                <p class="how-to-work__dig">3</p>
                <p class="how-to-work__text">Отправим Вам расчёт стоимости проекта с необходимыми пояснениями.
                </p>
            </div>
        </div>
    </section>

    <div class="content">
        {% include('common/parts/contact-form.html.twig') with {'contactFormTitle': 'Обсудить проект', 'formId': 'contact-form'} %}
    </div>

{% endblock %}
