{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'AВЕ Системз | разработка приложений и веб-порталов для вас',
        'description': 'Создадим веб-портал или приложение для вас. Просто и гибко!',
        'ogTitle': 'AВЕ Системз | разработка приложений и веб-порталов для вас',
        'ogDescription': 'Создадим веб-портал или приложение для вас. Просто и гибко!',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index-page') }}
{% endblock %}

{% block content %}
    <section class="offer">
        <h2 class="offer__desc">
            Хотите увеличить продажи или повысить узнаваемость бренда в интернете?
        </h2>
        <h1 class="offer__main">Мы создаем сайты и приложения, которые решают задачи  вашего бизнеса!</h1>

        <div class="offer__list">
           <div class="offer__list-item">
              <div class="offer__list-marker"></div>
               <div class="offer__list-text">Учитываем уникальные потребности вашей компании.</div>
           </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Вникаем и подбираем эффективные решения.</div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Хорошее соотношение цены и качества. <a href="#prices">Подробнее.</a></div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Бесплатная консультация!</div>
            </div>
        </div>

        <div class="btn offer__cta" id="offer-cta" data-trigger-popup-id="contact-form-popup">Обсудить проект</div>
    </section>

    <section class="solution main-block">
        <h2 class="content__header content__header--h2">С чем можем помочь</h2>
        <div class="solution-item">
            <img class="solution-item__img"
                 alt="Разработка сайтов (интернет-магазинов)"
                 src="{{ asset('build/images/online-shop.webp') }}"/>
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Продавать товары или продукты онлайн.
                </h3>
                <p class="solution-item__text">
                    Создадим интернет-магазин с возможностью аналитики, который станет надежной платформой для роста продаж.
                </p>
            </div>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Заявить о своей компании.
                </h3>
                <p class="solution-item__text">
                    Сделаем корпоративный сайт для создания имиджа бренда и&nbsp;привлечения клиентов.
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка корпортивного сайта на заказ"
                 src="{{ asset('build/images/corporate.webp') }}"/>
        </div>

        <div class="solution-item">
            <img class="solution-item__img"
                 alt="Разработка мобильных приложений"
                 src="{{ asset('build/images/mobile.webp') }}"/>
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Повысить лояльность текущих клиентов.
                </h3>
                <p class="solution-item__text">
                    Разработаем мобильные приложения для быстрого и&nbsp;комфортного общения покупателей с брендом.
                </p>
            </div>
        </div>

        <div class="solution-item">
            <div class="solution-item__wrapper">
                <h3 class="solution-item__header">
                    Увеличить продажи продукта или услуги.
                </h3>
                <p class="solution-item__text">
                    Создадим посадочную страницу для вовлечения клиентов в&nbsp;акции и другие механики.
                </p>
            </div>
            <img class="solution-item__img"
                 alt="Разработка лендингов"
                 src="{{ asset('build/images/lp.webp') }}"/>
        </div>
    </section>

    <section class="clients-block main-block">
        <h3 id="about-company" class="content__header content__header--h2">Наши клиенты:</h3>
        <div class="clients">
                <img src="{{ asset('build/images/bina_logo.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/mcrkpo.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/mastera.svg') }}" class="clients__item" />
                <img src="{{ asset('build/images/rostovcompozit.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/kfts.png') }}" class="clients__item" />
                <img src="{{ asset('build/images/asklepius.png') }}" class="clients__item" />
            <img src="{{ asset('build/images/birc.png') }}" class="clients__item" />
        </div>
    </section>
    <section class="reviews-block main-block">
        <h3 id="reviews" class="content__header content__header--h2">Отзывы</h3>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l1.jpg') }}"
            >Кинологический центр ФТС РФ</p>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l2.jpg') }}"
            >МЦРКПО</p>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l3.jpg') }}"
            >Асклепиус</p>
            <p class="content__big-text preview-trigger content__big-text--link"
               data-trigger-popup-id="image-popup"
               data-image="{{ asset('build/images/l4.jpg') }}"
            >Пекител</p>
        <p class="content__big-text preview-trigger content__big-text--link"
           data-trigger-popup-id="image-popup"
           data-image="{{ asset('build/images/l5.jpg') }}"
        >Программы и комплексы</p>
        <p class="content__big-text preview-trigger content__big-text--link"
           data-trigger-popup-id="image-popup"
           data-image="{{ asset('build/images/l6.jpg') }}"
        >Бина групп</p>
    </section>

    <section class="main-block about-us">
        <h2 id="about-company" class="content__header content__header--h2">Кто мы</h2>
        <p class="content__big-text">
            12 лет разрабатываем программное обеспечение для образования (EdTech) и других направлений.
            Создаем уникальные сайты и приложения для каждого заказчика без готовых компонентов.
        </p>
        <h3 class="content__header content__header--h3">
            Заказчик получает:
        </h3>
        <div class="about-us__feature-list feature-list">
            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/shield.svg') }}" alt="Надежность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Контроль качества.</span><br/>
                    Проверка кода, многоступенчатое тестирование продукта.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/compass.svg') }}" alt="Вдумчивость"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Продукт, решающий поставленную задачу.</span><br/>
                    Разберемся в проблеме – найдем лучшее решение.
                </div>
            </div>

            <div class="feature-list__feature">
                <div class="feature-list__icon">
                    <img class="feature-list__img" src="{{ asset('build/images/user.svg') }}" alt="Индивидуальность"/>
                </div>
                <div class="feature-list__text">
                    <span class="feature-list__accent">Разработку под запрос.</span><br/>
                    Не шаблон, а только тот функционал, который нужен заказчику.
                </div>
            </div>
        </div>
    </section>

    <section class="prices-block main-block" id="prices">
        <h3 class="content__header content__header--h2">Наши цены</h3>
        <div class="prices">
            <div class="prices__item">
                <h4 class="prices__item-title">Базовый копоративный сайт.</h4>
                <div class="prices__item-desc">Сайт компании или бренда, представляющий всю необходимую информацию для
                    успешного позиционирования компании в интернете.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Интернет-магазин.</h4>
                <div class="prices__item-desc">Сайт по продаже товаров и услуг в интернете.
                    Обычно состоит из каталога товаров, где пользователь может выбирать товары, а также корзины с возможностью оплаты.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h3 class="prices__item-title">Информационный портал.</h3>
                <div class="prices__item-desc">
                    Создание сайта с наличием информации различного рода в большом количестве.
                    Обычно обладает продвинутым механизмом поиска информации.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Мобильное приложение.</h4>
                <div class="prices__item-desc">Приложение под iOS и/или Android, предоставляющее какой-либо сервис или автоматизирующее процесс.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h4 class="prices__item-title">Единая точка входа.</h4>
                <div class="prices__item-desc">Один логин и пароль для доступа ко всем системам и сервисам компании.
                    Упрощает процесс авторизации и повышает удобство использования портала.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
            <div class="prices__item">
                <h3 class="prices__item-title">Хранилище файлов.</h3>
                <div class="prices__item-desc">Организация хранилища файлов на портале с возможностью полного управления ими
                    (удаления, добавления, изменения) средствами портала.</div>
                <div class="prices__item-price">от {n}</div>
            </div>
        </div>
    </section>

    <section class="main-block how-to-work">
        <h3 class="content__header content__header--h2">Обсудить проект!</h3>

        <div class="how-to-work__process">
            <div class="how-to-work__step">
                <p class="how-to-work__dig">1</p>
                <p class="how-to-work__text">Заполните форму.</p>
            </div>

            <div class="how-to-work__step how-to-work__step--large">
                <p class=" how-to-work__dig">2</p>
                <p class="how-to-work__text">
                    Мы свяжемся с вами, ответим на вопросы и обсудим детали.
                </p>
            </div>

            <div class="how-to-work__step">
                <p class="how-to-work__dig">3</p>
                <p class="how-to-work__text">
                    Отправим расчет проекта со всеми пояснениями.
                </p>
            </div>
        </div>

        {% include('common/parts/contact-form.html.twig') with {'formId': 'contact-form'} %}
    </section>
    {% embed 'common/parts/popup.html.twig' with {id: 'image-popup', modifier: 'wide'} only %}
        {% block popup_title %}{% endblock %}
        {% block popup_content %}
            <div id="image-preview" class="image-preview"></div>
        {% endblock %}
    {% endembed %}
{% endblock %}
