{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Контакты | АВЕ Системз',
        'description': 'Свяжитесь с нами, для того, чтобы начать разработку вашего бизнес-решения уже сегодня!',
        'ogTitle': 'Контакты | АВЕ Системз',
        'ogDescription': 'Свяжитесь с нами, для того, чтобы начать разработку вашего бизнес-решения уже сегодня!',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contacts-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contacts-page') }}
{% endblock %}

{% block content %}
    <section class="content">
        <h1 class="content__header">Контакты</h1>
        <p class="content__simple-text">
            Наш адрес: г. Пушкино, проезд Писаревский, д. 5, стр. Литер "Д", оф. 30.<br/>
            <a target="_blank" href="{{ asset('build/images/ave_d.doc') }}" rel="nofollow">Наши реквизиты (.doc)</a><br/>
            Телефон: <a href="tel:+79995565616">+7 (999) 556-56-16</a><br/>
            Телеграм: <a target="_blank" href="https://t.me/Avburykin" rel="nofollow">@avburykin</a><br/>
            Email: <a href="mailto: info@avesystems.ru">info@avesystems.ru</a></p>
    </section>
    <div class="content">
        {% include('common/parts/contact-form.html.twig') with {formId: 'contact-form'} %}
    </div>
{% endblock %}
