{% if modifierClass is not defined %}
    {% set modifierClass = '' %}
{% endif %}

<section class="contact-form" id="{{ formId }}">
    {% if contactFormTitle is defined  %}
        <h3 class="content__header content__header--h2">{{ contactFormTitle }}</h3>
    {% endif %}

    <input type="hidden" name="_token" value="{{ csrf_token('contact-form') }}"/>

    <div class="contact-form__container {{ modifierClass }}">
        <div>
            <input class="contact-form__field" type="email" id="email" name="email" placeholder="Email*">
        </div>

        <div>
            <input class="contact-form__field" type="text" id="telegram" name="telegram" placeholder="Ваш телеграм">
        </div>

        <div>
            <textarea class="contact-form__field contact-form__field--textarea" id="message" name="message" rows="4"
                      placeholder="Что хотите обсудить?*"
                      cols="50"></textarea>
        </div>

        <div class="btn contact-form__cta" id="{{ formId }}-submit">Отправить</div>
        <p class="contact-form__status" id="{{ formId }}-status"></p>
    </div>
</section>
