{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': case.metaTitle,
        'description': case.metaDescription,
        'ogTitle': case.ogTitle,
        'ogDescription': case.ogDescription,
        'ogImage': host ~ '/uploads/post/' ~ case.ogImage
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('case-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('case-page') }}
{% endblock %}

{% block content %}
    <article class="content">
        <h1 class="content__header">{{ case.title }}</h1>
        <div class="breadcrumbs">
            <a href="{{ path('app_index_page') }}" class="breadcrumbs__item breadcrumbs__item--link">Главная</a> /
            <a href="{{ path('app_portfolio_page') }}" class="breadcrumbs__item breadcrumbs__item--link">Наше портфолио</a> /
            <span class="breadcrumbs__item">{{ case.title }}</span>
        </div>
        <div>{{ editorjs_parse(case.content) | raw }}</div>
    </article>
    {% embed 'common/parts/popup.html.twig' with {id: 'image-popup', modifier: 'fluid'} only %}
        {% block popup_title %}{% endblock %}
        {% block popup_content %}
            <div id="image-preview" class="image-preview"></div>
        {% endblock %}
    {% endembed %}
{% endblock %}