{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Blog | Artem Burykin',
        'description': 'Here I write about interesting topics',
        'ogTitle': 'Blog | Artem Burykin',
        'ogDescription': 'Here I write about interesting topics',
        'ogImage': host ~ asset('build/images/blog-og.png')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('blog-page') }}
{% endblock %}

{% block content %}
    <section class="content">

    <h1 class="content__header">Blog</h1>
    {% for post in posts %}
        <a href="{{ path('app_post_page', { 'slug' : post.seoUrl }) }}" class="blog-item__link">
            <div class="blog-item">
                <h2 class="blog-item__title">{{ post.title }}</h2>
                <p class="blog-item__date">{{ post.createdAt |date("d.m.Y G:i") }}</p>

                <div class="blog-item__data">
                    <div class="blog-item__data-container {% if post.mainImage is null %}blog-item__data-container--no-image{% endif %}">
                        <p class="blog-item__description">{{ post.description }}</p>
                        <a href="{{ path('app_post_page', { 'slug' : post.seoUrl }) }}" class="blog-item__more">More</a>
                    </div>
                    {% if post.mainImage is not null %}
                        <div class="blog-item__img-container">
                            <img
                                    src="/uploads/post/{{ post.mainImage }}"
                                    alt="{{ post.title }}"
                                    class="blog-item__img"
                            />
                        </div>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}

    {% include 'common/parts/pagination.html.twig' with {
        'page': page,
        'pagination': pagination,
        'baseUrl': path('app_blog_page')
    } %}
    </section>
{% endblock %}
